awscli==1.16.310
botocore==1.13.46
cffi==1.13.2
colorama==0.4.1
wheel==0.33.6
cryptography==2.8
docutils==0.15.2
httplib2==0.18.0
jmespath==0.9.4
numpy==1.18.0
pandas==0.23.0
pyasn1==0.4.8
pycparser==2.19
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
rsa==3.4.2
s3transfer==0.2.1
six==1.13.0
urllib3==1.25.7
